<div id="custom-widget"
     data-external-url="{{config.externalUrl}}"
     data-widget-title="{{config.widgetTitle}}"
     data-widget-height="{{config.widgetHeight}}"
     data-auto-refresh="{{config.autoRefresh}}"
     data-refresh-interval="{{config.refreshInterval}}"
     data-show-border="{{config.showBorder}}">
</div>
